* {
    padding: 0;
    margin: 0;
    font-family: Microsoft yahei;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.list {
    overflow: hidden;
    height: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.list img {
    width: 126px;
    height: 170px;
    border: 1px solid white;
    box-shadow: 2px 2px 12px #333;
    display: inline-block;
}
.list ul{
    list-style: none;
    margin-left: 39%;
}
.list ul li{
    line-height: 2;
}
.name{
    font-size: 20px;
    color: red;
    font-weight: bold;
}
.bgcolor1{
    border: 1px solid rgba(86,61,124,.2);
    border-radius: 4px;
    background-color: rgba(195, 229, 186, 0.15);
}