* {
    padding: 0;
    margin: 0;
    font-family: Microsoft yahei;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.list {
    overflow: hidden;
    height: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.list img {
    width: 126px;
    height: 170px;
    border: 1px solid white;
    box-shadow: 2px 2px 12px #333;
    display: inline-block;
}
.list ul{
    list-style: none;
    margin-left: 39%;
}
.list ul li{
    line-height: 2;
}
.name{
    font-size: 20px;
    color: red;
    font-weight: bold;
}
.bgcolor1{
    border: 1px solid rgba(86,61,124,.2);
    border-radius: 4px;
    background-color: rgba(195, 229, 186, 0.15);
}

.navbar-header {
    width: 100%;
}

.container .row .search-child {
    position: absolute;
    top: 12px;
    z-index: 1;
}

.container .row .search-child .glyphicon-user {
    position: absolute;
    font-size: 16px;
    top: 9px;
    left: 8px;
}

.container .row .search-child .glyphicon-search {
    position: absolute;
    font-size: 16px;
    top: 9px;
    left: 135px;
}

.container .row .title {
    text-align: right;
    font-size: 30px;
    font-family: Microsoft yahei;
}

.container .row .search-child .form-control {
    display: inline;
}

.container .row .search-child select {
    width: 79px;
}

.container .row input {
    width: 160px;
    padding-left: 25px;
}

.container .row .select {
    position: absolute;
    left: 190px;
    top: 1px;
}

/********************Animate used Here**************************************/
.repeater.ng-enter {
    -webkit-transition: 0.2s linear all;
    transition: 0.2s linear all;
    opacity: 0;
    -webkit-transform: scale(1.15) !important;
    transform: scale(1.15) !important;
}

.repeater.ng-enter.ng-enter-active {
    opacity: 1;
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
}

.repeater.ng-leave {
    -webkit-transition: 0.1s linear all;
    transition: 0.1s linear all;
    opacity: 1;
}

.repeater.ng-leave.ng-leave-active {
    opacity: 0;
}

.repeater.ng-enter-stagger,
.repeater.ng-leave-stagger {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

